*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 20px;
}

.buttons{
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.SetUpMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.ChampButton,.ItemButton{
    margin: 5px;
    padding: 0;
    border: none;
    height: 50px;
    width: 50px;
}

.ChampButton:hover{
    box-shadow: 0px 0px 0px 10px red;;
}
.BaronNashor{
    display: flex;
    flex-direction: column;
}
#Hp{
    text-align: center;
    margin-bottom: 5px;
    font-size: 2rem;
}
.BaronNashorHpText{
    text-align: center;
    font-size: 2rem;
}
.hpBar{
    display: flex;
    justify-content: center;
}
#perc {
    width:667px;
    border:1px solid blue;
    padding:0px;
}
#perc_in {
    height: 30px;
    width:100%;
    background:red;
}
.ingameMinuteZone{
    position: absolute;
    right: 2rem;
    top:2rem;
    padding-right: 0.5rem;
}
.ingameMinuteZone span{
    padding-right: 0.5rem;
    font-size: 1.5rem; 
}
.ingameMinute{
    height: 40px;
    width: 60px;
    font-size: 1.5rem;
}
.champ_intro{
    text-align: center;
    font-size: 2rem;
}
.logZone{
    float: right;
    height: 200px;
    width: 30%;
    background-color: yellowgreen;
    overflow: auto;
}
.logZone > p {
    padding-top: 5px;
}

#champions_list, .items_list{
    display:flex;
    flex-direction: row;
    justify-content: center;

}
#champions_field{
    position: absolute;
    bottom: 2rem;
    display: flex;
    flex-direction: row;
}
#champions_field > div {
    height: 110px;
    width: 275px;
    background-color: indianred;
    margin: 0 1rem;

}
.log1 {
    position: relative;
    left: 0px;
    width: 500px;
    height: 200px;
    background: hsla(207, 44%, 49%, 0.4);
    margin-top: 5px;
    transition: left .7s linear;
}
#ChampArrow{
      position: relative;
      float: right;
      top: 85px;;
}
  
.log2 {
    position: relative;
    left: -380px;
    width: 500px;
    height: 200px;
    background:hsla(207, 44%, 49%, 0.4);
    margin-top: 5px;
    transition: left .7s linear;
}
.items_in {
    position: relative;
    left: 0px;
    width: 500px;
    height: 200px;
    background: hsla(207, 44%, 49%, 0.4);
    transition: left .7s linear;
}
#ItemArrow{
    position: relative;
    float: right;
    top: 85px;;
}
  
.items_out {
    position: relative;
    left: -380px;
    width: 500px;
    height: 200px;
    background:hsla(207, 44%, 49%, 0.4);
    margin-top: 120px;
    transition: left .7s linear;
}
.droppable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.MenuChamp{
    display: flex;
    flex-direction: column;
}
.lvl{
    background-color: tomato;
    margin: 5px 0px 0px 5px;
    height: 40px;
    width: 50px;
    font-size: 1.5rem;
}
.droppable .Stats{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}
.Stats > p {
    font-size: 0.8rem;
}
.table{
    margin:10px 5px 10px 0px;
    position: relative;
    border: 1px solid;
    border-collapse: separate;  
    padding: 0; 
}
.table td {
    border: 1px solid;
    width: 42px;
    height: 42px;
}
.table td > img {
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
    padding: 0px;
}
.baronFight{
    display: flex;
    justify-content: center;
    padding-right: 100px;
    background-color: rgb(99, 201, 204);
}

